.env
.env.*
!.env.example

.venv/
venv/

__pycache__/
*.py[cod]
*.so

.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store

artifacts/
*.pt

train-00000-of-00001.parquet
test-00000-of-00001.parquet
/orwd_data/

.idea/
.vscode/
